body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 35px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #310032;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 85%;
    position: fixed
}

p {
    color: white;
    background-color: #FA00FF;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.texto {
    background-color: transparent;
}

button {
    background-color: #49A8FF;
    color: white;
    border-radius: 20px;
    margin-left: 75px;
    margin-right: 10px;
    width: 150px;
    border: none;
}

.imagem_e_botao {
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

audio {
    position: fixed;
    background-color: rgb(142, 163, 246);
    align-self: flex-end;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
    flex: 1;
    color: red;
}

@media screen and (max-width: 700px) { 

    main {
        display: block;
        font-size: 14px;
    }

    .imagem_e_botao {
        justify-content: center;
        display: grid;
        align-items: center;
        margin: 0px;
    }
    
    button {
        margin: 0px;
        margin-left: 40px;
    }
}
